.days__side__bar {
  // height: fit-content;
  display: flex;
  .day__date__container {
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
    background-color: $back-ground;
    .days__date__wrapper {
      width: 100px;
      height: calc(100% / 7);
      border-bottom: 1px solid rgb(153, 150, 150);
      .days__label {
        //   width: 100px;
        text-align: center;
        color: rgb(185, 90, 90);
      }
      .days__date {
        width: 100px;
        text-align: center;
      }
    }
  }
  .time__input__checkbox__wrapper {
    width: calc(100% - 100px);

    .border-bottom {
      height: calc(100% / 7);
      padding: 1rem;
      border-bottom: 1px solid rgb(169, 164, 164);
    }

  }
  .time__input{
    margin-right: 20px;
  }
}
